.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
    white-space: nowrap;

    color: #fff;
    padding: 15px 35px;
    background: var(--primary-color);
    border-radius: 4px;

    &:hover {
        opacity: 0.9;
    }
}
