<div class="container">
    <div class="footer__inner">
        <div class="row footer__row">
            <div class="col-3 col-lg-4">
                <div class="footer__info">
                    <!-- Logo -->
                    <a href="" class="top-bar__logo logo">
                        F
                        <img
                            src="./assets/icons/logo.svg"
                            alt=""
                            class="top-bar__img-logo"
                        />
                        <img
                            src="./assets/icons/logo-2.svg"
                            alt=""
                            class="top-bar__img-logo"
                        />
                        D E A T S
                    </a>

                    <p class="footer__desc desc">
                        Food, drinks, groceries, and more available for delivery
                        and pickup.
                    </p>

                    <div class="footer__contacts">
                        <a href="#!" class="footer__contact">
                            <img
                                src="./assets/icons/facebook.svg"
                                alt=""
                                class="footer__contact-icon"
                            />
                        </a>
                        <a href="#!" class="footer__contact">
                            <img
                                src="./assets/icons/linkin.svg"
                                alt=""
                                class="footer__contact-icon"
                            />
                        </a>
                        <a href="#!" class="footer__contact">
                            <img
                                src="./assets/icons/tiktok.svg"
                                alt=""
                                class="footer__contact-icon"
                            />
                        </a>
                        <a href="#!" class="footer__contact">
                            <img
                                src="./assets/icons/youtube.svg"
                                alt=""
                                class="footer__contact-icon"
                            />
                        </a>
                    </div>
                </div>
            </div>

            <!-- Href Pages -->
            <div class="col-7 col-lg-6 offset-2 col-sm-12 offset-sm-0">
                <div class="footer__pages">
                    <!-- List1 -->
                    <div class="footer__list">
                        <h3 class="footer__title">Get Started</h3>
                        <ul>
                            <li class="footer__item">FoodEats Sign In</li>
                            <li class="footer__item">FoodEats Sign Up</li>
                            <li class="footer__item">Become a Rider</li>
                            <li class="footer__item">Become a Partner</li>
                        </ul>
                    </div>

                    <!-- List2 -->
                    <div class="footer__list">
                        <h3 class="footer__title">Get Help</h3>
                        <ul>
                            <li class="footer__item">Resources</li>
                            <li class="footer__item">Support</li>
                            <li class="footer__item">Contact Us</li>
                        </ul>
                    </div>

                    <!-- List3 -->
                    <div class="footer__list">
                        <h3 class="footer__title">Company</h3>
                        <ul>
                            <li class="footer__item">About Us</li>
                            <li class="footer__item">Customer Rights</li>
                            <li class="footer__item">Career</li>
                            <li class="footer__item">Press</li>
                            <li class="footer__item">Blog</li>
                        </ul>
                    </div>

                    <!-- List4 -->
                    <div class="footer__list">
                        <h3 class="footer__title">FootEats For</h3>
                        <ul>
                            <li class="footer__item">Enterprise</li>
                            <li class="footer__item">For Small Business</li>
                            <li class="footer__item">Personal</li>
                            <li class="footer__item">Riders</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="separate footer__separate"></div>

        <div class="footer__coppy-right">
            <p class="footer__coppy-right--desc">
                Copyright © 2022 UIHUT all rights reserved.
            </p>
            <div class="footer__coppy-right--security">
                <p class="footer__coppy-right--desc">Privacy Policy</p>
                <p class="footer__coppy-right--desc">Terms & Conditions</p>
            </div>
        </div>
    </div>
</div>
