<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-md-block">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-img" />
        </button>
        <!-- Logo -->
        <a href="" class="top-bar__logo logo">
            F
            <img src="./assets/icons/logo.svg" alt="" class="top-bar__img-logo" />
            <img src="./assets/icons/logo-2.svg" alt="" class="top-bar__img-logo" />
            D E A T S
        </a>

        <!-- Nav -->
        <nav class="nav-bar d-sm-none">
            <ul class="nav-bar__list">
                <li class="nav-bar__item"><a class="nav-bar__link" href="#!">Get the app</a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="#!">About</a></li>
                <li class="nav-bar__item">
                    <a class="nav-bar__link" href="#!">Page</a>

                    <img src="./assets/icons/arrow-down.svg" alt="" class="nav-bar__arrow-img" />
                </li>
            </ul>
        </nav>

        <!-- Act -->
        <div class="act d-sm-none">
            <a href="#!" class="">Sign In</a>
            <a href="#!" class="act__btn btn">Sign Up</a>
        </div>
    </div>
</div>
